<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zhu Jiongyao's Home Page</title>
  </head>
  <body>
    {% if current_user.is_authenticated %}
      <p>Welcome! {{ current_user.username }}</p>
      <a href="/logout">logout</a>
    {% else %}
      <p>Welcome! Stranger</p>
      <a href="/login">login</a>
    {% endif %}
  </body>
</html>